@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-shadow {
    box-shadow: 3px 3px 0px #236AD4;
}

body {
    background-color: #f4f8fd;
    overflow-x: hidden;
}

.Vectors {
    background-image: url('/shape1.svg'), url('/shape2.svg'), url('/shape3.svg'), url('/shape4.svg');
    background-position: 90% 0%, 90% 37%, 0% 65%, 100% 100%;
    background-size: 350px, 400px, 40%, 300px;
    background-repeat: no-repeat;
}